.majorClients {
  width: 100%;
  padding: 10rem var(--layout-side-pc-sub) 0;
}

.majorClients > section {
  margin-bottom: 0;
}

.majorClients > section h2 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4rem;
}

.majorClients > section ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.majorClients > section ul li {
  width: calc((100% - 6rem) / 4);
  border-radius: 20px;
  border: 1px solid #c1c1c1;
  overflow: hidden;
}

.majorClients > section ul li img {transition: all 0.4s;}
.majorClients > section ul li:hover img {
  transform: scale(1.05);
}

.majorClients > section ul li img,
.clientImage {
  width: 100%;
  height: auto;
  display: block;
}

.domesticClients {
  margin-bottom: 12rem !important;
}

.overseasClients {
  margin-bottom: 0;
}

.clientsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}


@media (max-width: 1050px) {
  .majorClients > section ul li {
    width: calc((100% - 1rem) / 2);
    border-radius: 0.5rem;
  }

  .majorClients > section h2 {
    font-size: 2.4rem;
    text-align: center;
    color: #fff;
    padding: 1.3rem 3rem;
    background: #0a2b6ae0;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
  }

  .majorClients {
    padding: 6rem var(--layout-side-mo) 0;
  }

  .majorClients > section ul {
    gap: 1rem;
  }
  .domesticClients {
    margin-bottom: 8rem !important;
  }
}
