.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
}

@media (max-width: 768px) {
  .content {
    padding: 2rem 1rem;
  }
}
