.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.breadcrumbArea {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem;
  background-color: rgb(255, 255, 255);
}

.content {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .breadcrumbArea {
    padding: 2rem 1rem;
  }
  .content {
    padding: 2rem 1rem;
  }
}
