/* 햄버거 메뉴 컨테이너 */
.hamMenu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  z-index: 99998;
  display: none;
  overflow-y: auto;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
}

.hamMenu.active {
  display: flex;
}

.hamInner {
  width: 73%;
  display: flex;
}

.menuColumn {
  width: 30%;
}

.menuColumn:nth-child(1) {
  margin-right: 10%;
}

.menuColumn:nth-child(2) {
  padding-left: 2.6%;
}

.menuColumn:nth-child(3) {
  padding-left: 7.7%;
}

.menuColumn h2 {
  color: #cedbf3;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3.8rem;
}

.menuColumn h2 span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  margin-left: 15px;
}

.menu {
  /* menu 스타일 */
}

.menuColumn:first-child .menu {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 0;
}

.menuColumn:first-child .menu .bigCate {
  width: 50%;
}

.menuColumn .menu:first-of-type {
  margin-bottom: 11rem;
}

.bigCate {
  display: flex;
  flex-flow: wrap;
}

.bigCate > li {
  width: 50%;
}

.menuColumn:first-child .menu .bigCate > li {
  width: 100%;
}

.bigCate > li > a {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.1rem 0;
  display: block;
  line-height: 1;
}

.smallCate {
  margin-bottom: 30px;
}

.menuColumn:first-child .menu .bigCate:first-child > li:last-child .smallCate {
  margin-bottom: 0;
}

.menuColumn:first-child .menu .bigCate:first-child > li:nth-child(5) {
  margin-top: 30px;
}

.smallCate li {
  line-height: 1;
}

.smallCate li a {
  color: #666666;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1;
  padding: 7px 0;
  display: block;
}




