/* 섹션 2 - 제품 소개 */
.prdIntro {
  background: url("/images/section02_bg.jpg") no-repeat;
  background-size: cover;
  padding-left: 13.5%;
  padding-top: 170px;
  padding-bottom: 150px;
}

.title p {
  font-size: 3rem;
  color: #217fc3;
  font-weight: 600;
}

.title h2 {
  font-size: 4.5rem;
  font-weight: 700;
  color: #fff;
}

.title h2 .moreView {
  font-size: 1.8rem;
  font-weight: 400;
  opacity: 0.5;
  margin-left: 20px;
}

.prdContent {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.prdTextArea {
  width: 48%;
}

.prdTextArea * {
  color: #fff;
}

.prdName {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.nameKr {
  font-size: 4rem;
  font-weight: 700;
  margin-right: 19px;
}

.nameEg {
  margin-left: 15px;
}

.prdDetail {
  margin-bottom: 55px;
}

.prdDetail .ko {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 24px;
}

.prdDetail .eg {
  color: #8d8d8d;
  font-size: 1.8rem;
  line-height: 1.4;
}

.prdKeword {
  display: flex;
  flex-flow: wrap;
  gap: 80px;
  row-gap: 20px;
}

.prdKeword li {
  padding-left: 18px;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 1.8rem;
}

.prdKeword li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  display: block;
}

.prdImgArea {
  width: 52%;
  overflow: hidden;
}

.prdSwiper :global(.swiper-wrapper .swiper-slide) {
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
  border-radius: 30px;
}

.prdSwiper :global(.swiper-wrapper .swiper-slide.swiper-slide-active) {
  background: rgba(255, 255, 255, 0.1);
}

.prdSwiper :global(.swiper-wrapper .swiper-slide.swiper-slide-active:hover) {
  background: rgba(255, 255, 255, 0.2);
}

.prdSwiper :global(.swiper-wrapper .swiper-slide img) {
  width: 100%;
}

.prdMenu {
  display: flex;
  padding: 18px 15px;
  background: rgba(255, 255, 255, 0.05);
  margin-right: 13.5%;
  border-radius: 50px;
  justify-content: space-between;
}

.prdMenu li {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  padding: 15px 32px;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: transparent;
  border-radius: 50px;
}

.prdMenu li.on {
  background: #19527b;
}

