.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.content {
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

/* Breadcrumb 영역 (content 안에 위치) */
.breadcrumbArea {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
