.main {
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  margin: 0 auto;
  padding: 0rem 60px;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .content {
    padding: 2rem 1rem;
  }
}
