/* 섹션 1 - 메인 배너 */
.mainBnr {
  height: 100vh;
}

.mainSwiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainSwiper :global(.swiper-slide > a) {
  display: block;
  width: 100%;
  height: 100%;
}

.bnr {
  position: relative;
  width: 100%;
  height: 100%;
}

.bannerImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.txt {
  position: absolute;
  left: var(--layout-side-pc);
  top: 50%;
  transform: translateY(-50%);
}

.txt h2 {
  font-size: 5.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 3rem;
  line-height: 1.3;
}

.txt h2 em {
  color: #0094ff;
  font-weight: inherit;
}

.txt p {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.mainSwiper :global(.swiper-pagination) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  bottom: 60px;
  left: var(--layout-side-pc);
  width: max-content;
}

.mainSwiper :global(.swiper-pagination span) {
  position: relative;
  width: 34px;
  height: 34px;
  background: transparent;
  opacity: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.mainSwiper :global(.swiper-pagination span::before) {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
}

.mainSwiper
  :global(.swiper-pagination span.swiper-pagination-bullet-active::before) {
  opacity: 1;
}

.mainSwiper :global(.swiper-pagination span .progress-ring) {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  overflow: visible;
}

.mainSwiper :global(.swiper-pagination span .progress-ring-circle) {
  stroke-dasharray: 75.4 75.4;
  stroke-dashoffset: 75.4;
  transition:
    stroke-dashoffset 0.1s linear,
    stroke 0.3s ease;
  stroke-linecap: round;
}

.mainSwiper
  :global(
    .swiper-pagination
      span.swiper-pagination-bullet-active
      .progress-ring-circle
  ) {
  stroke: #fff;
}

/* 반응형 - 모바일 */
@media (max-width: 1050px) {
  .txt {
    left: var(--layout-side-mo);
    word-break: keep-all;
    top: 43%;
  }

  .txt h2 br {
    display: none;
  }

  .txt h2 {
    font-size: 3.8rem;
    line-height: 1.4;
    padding-right: 10%;
  }

  .txt p {
    font-weight: 500;
    line-height: 1.3;
    font-size: 2rem;
    float: right;
    max-width: 90%;
  }

  .mainSwiper :global(.swiper-pagination) {
    gap: 0.1rem;
    bottom: 4rem;
  }

  .mainSwiper :global(.swiper-pagination span) {
    width: 26px;
    height: 26px;
  }

  .mainSwiper :global(.swiper-pagination span::before) {
    width: 6px;
    height: 6px;
  }

  .mainSwiper :global(.swiper-pagination span .progress-ring) {
    width: 26px;
    height: 26px;
    overflow: visible;
    bottom: 7rem;
  }

  .bnr::after {
    content: "";
    display: block;
    width: 100%;
    height: 70%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
    pointer-events: none;
  }

  .bannerImage {
    object-position: 60% center;
  }
}
