@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
@import '../styles/reset.css';

/* Common CSS (Fonts) */
@import '../styles/common.css';

/* Main CSS (전역 스타일 - 헤더, 푸터, 섹션 공통 스타일) */
@import '../styles/main.css';

/* CSS 변수 */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --layout-side-pc: 6.25%;
  --layout-side-pc-sub: 9.9%;
  --layout-side-mo: 4%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #fff;
}

/* 메인 페이지에서 Footer의 margin-top 제거 */
body:has(.home-page) footer {
  margin-top: 0 !important;
}

/* 메인 섹션 공통 */
main section {
  width: 100%;
}

main .main_bnr {
  background-color: #000;
  width: 100%;
  height: 100vh;
}

/* 스와이퍼 슬라이드 이미지 드래그 선택 방지 (전역) */
:global(.swiper-slide img) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
