.main {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

/* Breadcrumb 영역 */
.breadcrumbArea {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 2rem;
  background-color: rgb(255, 255, 255);
}

/* 제품 콘텐츠 영역 (HTML의 section.products와 동일) */
.products {
  padding-top: 100px;
  width: 100%;
  background-color: #fff;
}

/* 제목 영역 */
.titleArea {
  padding: 0 var(--layout-side-pc-sub);
  margin-bottom: 30px;
}

.titleArea h1 {
  font-size: 5rem;
  font-weight: 700;
  margin: 0;
}

.titleArea h1 .egFont {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  margin-left: 2.7rem;
}

.productContent {
  display: flex;
  gap: 4.5%;
  padding: 0 var(--layout-side-pc-sub);
  background-color: #fff;
}

@media (max-width: 768px) {
  .breadcrumbArea {
    padding: 2rem 1rem;
  }
  .titleArea {
    padding: 0 2rem;
  }
}

@media (max-width: 1024px) {
  .productContent {
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
  }
}
