.container {
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 26.5px;
  align-items: center;
  margin: 0;
  padding: 80px 0 0 0;
}

.tab {
  padding: 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 4.8rem;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

.content {
  width: 100%;
  padding: 0;
}
