.container {
  width: 100%;
}

.typeTabs {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 8rem 0;
  list-style: none;
  margin: 0;
}

.typeTab {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 6rem;
  border-radius: 50px;
  border: 1px solid #ebebeb;
  line-height: 1;
  cursor: pointer;
  background: transparent;
  color: #000;
  transition: all 0.3s;
}

.typeTab:hover {
  border-color: #333;
}

.typeTab.active {
  color: #fff;
  background: #333333;
  border-color: #333333;
}

@media (max-width: 1050px) {
  .typeTabs {padding: 4rem var(--layout-side-mo);}
  .typeTab {flex: 1; padding: 2rem;}
}