.main {
  padding: 100px 0 0;
  background-color: #fff;
}

.breadcrumbArea {
  margin-bottom: 50px;
}

/* 제품 상세 영역 */
.productDetail {
  padding: 0 var(--layout-side-pc-sub);
}

.productInfo {
  display: flex;
  margin-bottom: 18rem;
}

/* 제품 이미지 */
.productImage {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.productImage .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

/* 제품 정보 */
.productContent {
  flex: 1;
  padding-left: 4%;
}

.productTitle {
  margin-bottom: 3rem;
}

.productTitleKorean {
  display: block;
  font-size: 4.8rem;
  font-weight: 700;
  color: #000;
  margin-top: 1rem;
}
.productTitleEnglish {
  font-size: 3rem;
  font-weight: 500;
  color: #a3a3a3;
  line-height: 1.4;
  font-family: 'Outfit', sans-serif;
}

.productDescription {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #000;
  padding-bottom: 3.5rem;
  margin-bottom: 4rem;
  border-bottom: 2px solid #e5e5e5;
  word-break: keep-all;
  padding-right: 5%;
}

/* 특징 영역 */
.features {
  margin-bottom: 4rem;
  padding-bottom: 3.5rem;
  border-bottom: 2px solid #e5e5e5;
}

.featuresTitle {
  display: inline-block;
  padding: 0.7rem 2rem;
  line-height: 1;
  background: #0a2b6a;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}


.featuresList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 3rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.featureItem {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 1.2rem;
}

.featureKorean {
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  position: relative;
}
.featureKorean::after {
  content: ''; width: 0.4rem; height: 0.4rem;
  background: #000; border-radius: 50%; display: block;
  position: absolute; left: -1.2rem; top: 50%; transform: translateY(-50%);
}

.featureEnglish {
  font-size: 1.6rem;
  color: #a3a3a3;
  font-family: 'Outfit', sans-serif;
  margin-top: 0.1rem;
  font-weight: 300;
}

/* 다운로드 버튼 */
.downloadButtons {
  display: flex;
  gap: 3%;
}

.downloadButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.85rem 5%;
  line-height: 1;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
  flex: 1;
}

.downloadButton img {
  width: auto; height: 2.1rem;
  max-width: unset; filter: brightness(0.5);
}

/* 도면 PDF 다운로드 버튼 (연한 파란색 배경) */
.catalogButton {
  background: #e9eef3;
  border: none;
  color: #122e64;
}

.catalogButton:hover {
  background: #dee5ec;
}

/* 기술자료 PDF 다운로드 버튼 (흰색 배경, 테두리) */
.technicalButton {
  background: #fff;
  border: 2px solid #a3a3a3;
  color: #171717;
  font-weight: 500;
}

.technicalButton:hover {
  background: #f5f5f5;
  border-color: #ccc;
}

/* 내용 영역 */
.contentArea {
  margin-bottom: 50px;
  padding: 3rem;
  background: #f7f7f7;
  min-height: 100rem;
  display: flex; align-items: center; justify-content: center;
}

.content {
  font-size: 3.5rem;
  line-height: 1.8;
  font-weight: 500;
  color: #171717;
  text-align: center;
}

/* 목록 버튼 */
.listButtonArea {
  display: flex;
  justify-content: center;
  margin-top: 12rem;
}

.listButton {
  padding: 2.1rem 8.5rem;
  line-height: 1;
  background: #1e1d1a;
  color: #fff;
  border-radius: 10rem;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  transition: background 0.3s;
}

.listButton:hover {
  background: #555;
}

@media (max-width: 1050px) {
  .productDetail {
    padding: 0 var(--layout-side-mo);
  }

  .productTitleKorean {
    font-size: 3.5rem;
  }
  .productTitleEnglish {
    font-size: 2rem;
  }
  .productContent {
    padding-left: 0;
  }
  .productInfo {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 8rem;
  }
  .productDescription {
    padding-right: 3%;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    line-height: 1.7;
  }
  .featuresTitle {
    font-size: 1.7rem;
    padding: 0.8rem 3rem;
    font-weight: 500;
  }
  
  .productTitle {
    margin-bottom: 2rem;
  }

  .productImage {
    flex: 1;
  }

  .featuresGrid {
    grid-template-columns: 1fr;
  }

  .downloadButtons {
    flex-direction: column;
    gap: 1.5rem;
  }

  .downloadButton {
    width: 100%;
    justify-content: center;
    font-size: 1.9rem;
    padding: 2rem; font-weight: 500;
    gap: 1rem;
  }

  .featureKorean::after {
    top: 1.1rem;
    transform: translateY(0);
  }
  .featuresList {
    gap: 2.5rem 2rem;
  }
  .featureItem {
    justify-content: space-around;
  }

  .featureKorean {
    font-weight: 500; word-break: keep-all;
    font-size: 1.8rem;
  }
  .featureEnglish {
    font-weight: 400; word-break: keep-all;
    font-size: 1.6rem;
  }

  .contentArea {min-height: 70rem;}
  .content {
    font-size: 2rem;
  }

  .listButtonArea {
    margin-top: 8rem;
  }
  .listButton {
    font-size: 2rem;
  }
}
