/* 다운로드 영역 */
.download {
  padding: 0 var(--layout-side-pc-sub);
}

/* 섹션 타이틀 */
.section_title {
  font-size: 4.8rem;
  font-weight: 600;
  margin: 7rem 0 8rem 0;
  text-align: center;
}

/* 다운로드 래퍼 */
.downloadWrapper {
  display: flex;
  gap: 4.5%;
}

/* 왼쪽 카테고리 네비게이션 */
.categoryNav {
  width: 19.5%;
  flex-shrink: 0;
  height: max-content;
  text-align: center;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.categoryBtn {
  padding: 2rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  letter-spacing: -0.04rem;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
  border: 1px solid #ebebeb;
  background: #fff;
}

.categoryBtn:hover {
  background: #eee;
}

.categoryBtn.active {
  color: #fff;
  font-weight: 600;
  background: linear-gradient(70deg, #122e64 0%, #174884 50%, #1d64a8 100%);
  border-color: transparent;
}

/* 오른쪽 메인 콘텐츠 */
.downloadContent {
  flex: 1;
  width: 76%;
  margin-top: 1rem;
}

/* 필터 및 검색 영역 */
.filterArea {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  gap: 2%;
}

.productFilters {
  display: flex;
  gap: 1.5rem;
  position: relative;
  width: 72%;
  flex-flow: wrap;
}

.selectWrapper {
  position: relative;
  display: inline-block;
}

.selectWrapper::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  width: 0.6rem;
  height: auto;
  aspect-ratio: 4 / 8;
  background: url("/images/icon/arrow_04.png") no-repeat center;
  background-size: contain;
  pointer-events: none;
  z-index: 1;
}

.productFilters select {
  padding: 1.4rem 4rem 1.4rem 2rem;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  background: #f6f9fb;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}

.productFilters select:focus {
  border: none;
  outline: none;
}

/* 검색 영역 */
.searchBox {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 36%;
  border: 1px solid #ebebeb;
  height: 46px;
  border-radius: 50px;
  overflow: hidden;
  padding-left: 2.5rem;
  padding-right: 1.7rem;
}

.searchSelect {
  font-size: 1.4rem;
  background: #fff;
  cursor: pointer;
  height: 100%;
  width: 23.5%;
  color: #666;
  font-weight: 600;
  border: none;
}

.searchSelect:focus {
  border: none;
  outline: none;
}

.searchInputWrap {
  position: relative;
  height: 100%;
  width: 76.5%;
}

.searchInput {
  width: 100%;
  font-size: 1.4rem;
  padding-right: 40px;
  height: 100%;
  font-weight: 600;
  color: #666;
  border: none;
}

.searchInput:focus {
  border: none;
  outline: none;
}

.searchBtn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url("/images/icon/search_ico.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
}

/* 다운로드 리스트 */
.downloadList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-bottom: 50px;
}

.downloadItem {
  border: 1px solid #8c8c8c;
  border-radius: 1.5rem;
  padding: 2.4rem 5% 2.4rem 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  width: 100%;
  position: relative;
}

.downloadItem.manual {
  padding: 2.4rem 6% 2.4rem 7.75%;
  gap: 6.5%;
  align-items: flex-end;
}

/* 매뉴얼 카테고리 스타일 */
.itemThumbnail {
  width: 33%;
  aspect-ratio: 163 / 231;
  flex-shrink: 0;
  overflow: hidden;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ebebeb;
}

.itemThumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemRightWrapper {
  flex: 1;
  display: flex;
  flex-flow: column;
  min-width: 0;
  height: 100%;
}

.itemContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  min-width: 0;
  padding-top: 1.5rem;
}

.itemTag {
  display: inline-block;
  padding: 7px 13px;
  background: linear-gradient(70deg, #143b74 0%, #1e71b3 100%);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 6px;
  width: fit-content;
  line-height: 1;
}

.itemTitle {
  font-size: 1.8rem;
  font-weight: 500;
  color: #171717;
  flex: 1;
  min-width: 0;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  transition: all 0.2s;
  margin-right: 3%;
}

.downloadItem.manual .itemTitle {
  flex: none;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  margin-right: 0;
  word-break: keep-all;
}

.downloadBtn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding-left: 5%;
  font-size: 1.4rem;
  font-weight: 600;
  color: #666;
  cursor: pointer;
  transition: all 0.3s;
  border-left: 2px solid #ebebeb;
  border: none;
  background: transparent;
}

.downloadItem.manual .downloadBtn {
  padding: 1.2rem 2.4rem;
  border: none;
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
  border-top: 2px solid #ebebeb;
  border-left: none;
}

.downloadItem.manual .downloadBtn:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
}

.downloadBtn img {
  height: 2rem;
  width: auto;
  max-width: unset;
  opacity: 0.7;
  transition: all 0.3s;
}

.downloadBtn:hover img {
  opacity: 1;
}

.downloadBtn span {
  color: #666;
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s;
}

.downloadBtn:hover span {
  color: #171717;
}

.downloadItem.emptyState {
  justify-content: center;
  border-color: #ddd;
  grid-column: 1 / -1;
  padding: 50px;
  text-align: center;
  color: #999;
  font-size: 1.6rem;
}

.egFont {
  font-family: "Outfit", sans-serif;
}

/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 11rem;
}

.paginationBtn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
  background: #fff;
  font-size: 3rem;
  color: #161616;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
}

.paginationBtn img {
  height: 1.3rem;
  max-width: unset;
  width: auto;
}

.paginationBtn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.paginationBtn.pageNumber {
  font-size: 2rem;
  font-weight: 500;
  color: #b2b2b2;
}

.paginationBtn.pageNumber.active {
  color: #161616;
  border-color: #161616;
}

@media (max-width: 1050px) {
  .section_title {
    font-size: 4rem; margin: 2rem 0 4rem;
  }
  .download {
    padding: 0 var(--layout-side-mo);
  }
  .downloadWrapper {
    flex-flow: column;
    gap: 1rem;
  }
  .productFilters select {
    font-size: 1.5rem;
  }
  .categoryNav {
    width: 100%;
    flex-flow: row;
    gap: 0.5rem;
  }
  .categoryBtn {
    flex: 1;
    font-size: 1.6rem;
    padding: 1.5rem 0;
  }
  .filterArea {
    flex-flow: column;
    gap: 3rem;
  }
  .downloadContent {
    width: 100%;
  }
  .productFilters {
    width: 100%;
    gap: 1rem;
  }
  .selectWrapper {
    flex: 1;
  }
  .productFilters select {
    width: 100%;
  }
  .searchBox {
    width: 100%;
  }
  .searchBox * {font-size: 1.8rem !important;}
  .searchInput {font-weight: 500;}
  .downloadList {
    grid-template-columns: repeat(1, 1fr);
  }
  .itemTitle {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .downloadItem {
    border-radius: 1rem;
    padding: 2.4rem 5%;
    min-height: 10.5rem;
  }

  .downloadItem.manual {
    padding: 2.4rem 5%;
  }
  .downloadItem.manual .itemTitle {
    -webkit-line-clamp: 2;
  }
  
  .pagination {margin-top: 8rem;}
  .paginationBtn {
    width: 3rem; height: 3rem;
    font-size: 1.8rem !important;
  }
  .itemContent {
    gap: 1rem;
  }
}
