.productMain {
  width: 75%;
}

/* 제품 그리드 */
.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5%;
  row-gap: 2%;
}

.productItem {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s;
  text-decoration: none;
  color: inherit;
  display: block;
}

.productItem:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}


.productImageWrap {
  width: 100%;
}

.productImage {
  width: 100%;
}

.productBottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 8% 35px 10%;
}

.productInfo {
  flex: 1;
}

.productName {
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.productNameEn {
  font-size: 1.6rem;
  font-weight: 600;
  color: #a3a3a3;
}

.productLinkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16.5%;
  height: auto;
  aspect-ratio: 1 / 1;
  border: 1px solid #ccc;
  border-radius: 50%;
  flex-shrink: 0;
  align-self: center;
  position: relative;
  background: transparent;
  transition: all 0.3s;
}

.productLinkBtn::after {
  content: "";
  background: url("/images/icon/arrow_01.png") no-repeat;
  width: 30%;
  aspect-ratio: 75 / 48;
  background-size: cover;
  opacity: 0.3;
  transition: all 0.3s;
}

.productItem:hover .productLinkBtn {
  background: #ccc;
}
.productItem:hover .productLinkBtn::after {
  opacity: 1; filter: invert(1);
}


/* 페이지네이션 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 12rem;
}

.paginationBtn {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid transparent;
  background: #fff;
  font-size: 3rem;
  color: #161616;
  cursor: pointer;
  transition: all 0.3s;
  border: none;
  padding: 0;
}

.paginationBtn img {
  height: 1.3rem;
  max-width: unset;
  width: auto;
}

.paginationBtn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.paginationBtn.pageNumber {
  font-size: 2rem;
  font-weight: 500;
  color: #b2b2b2;
}

.paginationBtn.pageNumber.active {
  color: #161616;
  border-color: #161616;
}


@media (max-width: 1050px) {
    .productGrid {
      grid-template-columns: repeat(2, 1fr);
      gap: 2%;
      row-gap: 1%;
    }
    .productMain {
      width: 100%;
    }

    .productName {
      margin-bottom: 0.7rem;
      font-size: 1.8rem;
    }
    .productNameEn {
      font-size: 1.45rem;
    }
    .productBottom {
      display: block;
      padding: 1rem 8% 2rem;
    }
    .productLinkBtn {
      margin-top: 1.5rem;
      width: 20%;
    }

    .pagination {
      margin-top: 10rem;
    }
    .paginationBtn {
      width: 3rem; height: 3rem;
      font-size: 1.8rem !important;
    }
    .productLinkBtn::after {
      width: 46%;
    }
}